

h1{
  color: #e6e6e6;
  font-size: 70px;
  text-align: center;
}

p{
  color: #e6e6e6;
  font-size: 20px;
  text-align: center;


}

.input {
  color: #e6e6e6;
  font-size: 20px;
  text-align: center;

}

h2{
  color: yellow;
  font-size: 20px;
  text-align: center;

}

h3{
  color: white;
  font-size: 30px;
  text-align: center;


}
.r {
  color: #e6e6e6;
  font-size: 20px;
  text-align: center;

}

